extends layout
block content
  .wrapper
    .grid-container
      .flex-container
        .header-text
          h1 XRPL Fixarta proposal demo
          p.description The purpose of the app is to be properly explained here. Check any XRP Addreess or get POC test case data for Fixarta Test Account:
          p.badge.addressCheck 
            span.field rLaR3VxGFHv8jgjoCb1Tuf1QzBMuJPHgJj 
          form.check-address(action='/' method='GET')
            label( for='addr') XRPL address:
            input.border-gradient(type='text' name='addr' id='addr' placeholder='Put your XPRL address here' value=addr size='40')
            input.btn(type='submit', value='Lookup')
      if Object.keys(nftProdList).length > 0
        .productList.resizing
          h1 Your NFTs by product
          each product, productId in nftProdList
            h2 Fancy product with ID #{productId}
            ul.tokenTable
            each nft in product
              li.badge.tokenId
                span Token ID:
                span #{nft.NFTokenID}
              li.spec
                span Serial: #{nft.nft_serial}
                span Taxon: #{nft.NFTokenTaxon}
                span
                  a(href=nft.decodedURI) URI
                span Fee: #{nft.TransferFee ? nft.TransferFee/1000 : '0'} %
                span#last Issuer: #{nft.Issuer}
      .image-container
        .sm
          a(href='https://github.com/stars/petushka1/lists/xrpl-grant-fixarta-marketplace')
            img(src='github.svg')
        img.cover(src='header.svg')
